main{
    margin-left: 15pt;
    margin-right: 15pt;
    text-align: center;
}
section{
    color: black;
    display: flex;
    margin-left: 500px;
}

nav{
    font-size: large;
    margin-bottom: 10px;
    text-align: left;
   }

   html{
    background: linear-gradient(0deg, rgba(225, 95, 197, 0.458) 0% ,rgba(81, 68, 194, 0.425)  100%);
   }

footer{
    margin: 10px;
    padding: 78px;
    text-align: center;
   }

.fig{
    margin: 20px;
    padding: 20px;
    font-size: larger;
    width: auto;
}
p{
    font-size: larger;
}
